@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* HEADER - NAVBAR */

header {
    border-bottom: 1px solid blue ;
}
.navbar {
    display: flex;
    max-width: 1000px;
    margin: auto;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #6969f8;
  }
  .navbar a img {
    margin: 0;
    width: 70px;
    height: 70px;
  }
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #699bf8;
    cursor: pointer;
  }
  .nav-links {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
  }
  .nav-links a {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #6969f8;
    text-decoration: none;
    transition: color 0.3s;
    padding: 25px;
    height: 70px;
    border-radius: 10px;
  }
  .nav-links a:hover {
    color: white;
    background-color: #0f7bee;
    padding: 25px;
    
  }

  /* HEADER - NAVBAR - FIM */

  .banner-principal {
    width: 100%;
  }
  .banner-celular {
    display: none;
  }

  /* BANNER - FIM */

  /* CATÁLOGO */

  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
  }
  .filtro {
    background-color: #0056b3;
    padding: 30px;
    border-radius: 50px;
    max-width: 1600px;
  }
  .filtro > h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
  } 
  .filter-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }
  .filter-bar button {
    padding: 10px 20px;
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #ExAll {
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(95, 176, 252);
    color: white;
    border: none;
  }
  .filter-bar button:hover {
    background-color: #0056b3;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .product h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  .product p {
    font-size: 14px;
    color: #555;
  }

  /* CATÁLOGO - FIM */
  
  @media (max-width: 768px) {
    .banner-principal {
     display: none;
    }
    .banner-celular {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #0056b3;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
    .nav-links a:hover {
      background-color: #0056b3;
      padding: 0;
      color: #ffffff;
    }
    .nav-links a {
      color: white;
    }
    .nav-links.active {
      display: flex;
    }
    .nav-links li {
      text-align: center;
      padding: 10px 0;
    }
  }


